<!DOCTYPE html>
<head>
    <title>自动排班系统帮助文档</title>
    <meta charset="utf-8"/>
    </head>
</head>
<body>
<h1><b>操作流程</b></h1>
<h2>登录、退出排班系统</h2>
<p>1.公司管理员通过输入已有的Userid、Password进入我们的主页。</p>
<p>2.公司管理员来到主页，点击“退出”按钮，即可退出排班系统。</p>
<h2>人员管理</h2>
<h3>一.人员添加</h3>
<p>1.公司管理员可点击“添加”按钮，直接添加员工信息；</p>
<p>2.公司管理员可点击“模板下载”按钮，下载网站提供的人员添加模板；将模板填写完整后，再点击“导入”按钮，将人员信息导入</p>
<h3>二.人员信息编辑</h3>
<p>1.公司管理员可点击“修改”按钮，修改员工信息；</p>
<p>2.公司管理员可点击“删除”按钮，删除员工信息；</p>
<h3>三.人员信息查找</h3>
<p>1.公司管理员可在人员姓名搜索框输入需查找的名字，进行人员信息查找；</p>
<p>2.公司管理员可在部门搜索框选择需查找的部门，进行部门信息查找；</p>
<p>3.公司管理员可在人员姓名搜索框输入需查找的名字、同时在部门搜索框选择需查找的部门，进行人员信息的精确查找；</p>
<h3>四.人员是否排班选择</h3>
<p>1.查找到员工信息后，点击“checkall/uncheckall”，来确定员工是否参与排班；</p>
<h2>部门管理</h2>
<h3>一.部门添加</h3>
<p>1.公司管理员可点击“添加”按钮，直接添加部门信息；</p>
<h3>二.部门修改</h3>
<p>1.公司管理员可点击“修改”按钮，直接修改部门信息；</p>
<h2>排班管理</h2>
<h3>一.排班模式选择</h3>
<p>1.公司管理员可根据网站所提供的模式，来选择合适的排班模式，；</p>
<h3>一.排班年、月选择</h3>
<p>1.公司管理员可根据网站所提供的年、月，来选择自己所需的排班年、月，点击“submit”按钮提交；</p>
<h2>班次管理</h2>
<h3>二.部门信息查找</h3>
<p>1.公司管理员可在部门搜索框选择需查找的部门，进行部门信息查找；</p>
<h3>三.人员班次信息编辑</h3>
<p>1.公司管理员勾选“打开编辑”，编辑相关人员的班次情况；</p>
<p>2.公司管理员再次勾选“打开编辑”，关闭编辑；</p>
<h3>四.导出班次表</h3>
<p>1.公司管理员点击“导出”，导出相应班次表；</p>
<h3>五.翻页</h3>
<p>1.公司管理员在本页找不到相关人员的信息时，可点击“Previous week”或“Next week”按钮，来进行上一页、下一页操作；</p>
<h2>班次统计</h2>
<h3>一.人员工时信息查找</h3>
<p>1.公司管理员可在人员姓名搜索框输入需查找的名字，进行人员班次工时情况查找；</p>
<p>2.公司管理员可在部门搜索框选择需查找的部门，进行人员班次工时情况查找；</p>
<p>3.公司管理员可在人员姓名搜索框输入需查找的名字、同时在部门搜索框选择需查找的部门，进行人员班次工时情况的精确查找；</p>
<h3>二.翻页</h3>
<p>1.公司管理员在本页找不到相关人员的信息时，可点击“Previous month”或“Next month”按钮，来进行上一页、下一页操作；</p>
<h2>日期检索</h2>
<h3>一.日期查找</h3>
<p>1.公司管理员可在日期搜索框选择相应日期，进行某日人员班次工时情况查找；</p>
<h3>二.人员值班信息查找</h3>
<p>1.公司管理员可在人员姓名搜索框输入需查找的名字，进行人员值班信息情况查找；</p>
<p>2.公司管理员可在部门搜索框选择需查找的部门，进行人员值班信息情况查找；</p>
<p>3.公司管理员可在人员姓名搜索框输入需查找的名字、同时在部门搜索框选择需查找的部门，进行人员值班信息情况的精确查找；</p>
<p></p>
</body>
